{% include 'basic.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Here We go !</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="{{ url_for('basic') }}" class="btn btn-sm animated-button victoria-one">Basic plot</a>
        <a href="/exec2" class="btn btn-sm animated-button victoria-one">Start Training the Model</a>
        <a href="/exec2" class="btn btn-sm animated-button victoria-one">Start Training the Model</a>
        <a href="/exec2" class="btn btn-sm animated-button victoria-one">Start Training the Model</a>
        <a href="/exec2" class="btn btn-sm animated-button victoria-one">Start Training the Model</a>
    </div>
  </div>
    <div class="col-md-6 col-sm-6 col-xs-6"> <a href="/exec" class="btn btn-sm animated-button victoria-two">Identify Me</a> </div>
{% endblock %}